<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link" href="/">
        <img alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             src="/webjars/AdminLTE/3.2.0/dist/img/AdminLTELogo.png"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Online Academy</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="nav-item has-treeview">
                    <a class="nav-link" href="#">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Management
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/user/all">
                                <i class="far fa-circle nav-icon"></i>
                                <p>User Management</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/role/all">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Role Management</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/department/all">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dept. Management</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/group/all">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Group Management</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/permission/all">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Permission Management</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/route/all">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Route Management</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/contact">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Contact</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        <i class="nav-icon fas fa-th"></i>
                        <p>About</p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
